<a name="about"></a>
<div class="row about-content">
	<div class="col-xs-12" style="text-align: center;">
		<img src="{{ site.base_url }}/images/portrait.jpg" alt="Personal Photo" style="width: 100px; border-radius: 50px;"/>
		<h1>Hello.  My Name Is Brennan.</h1>
	</div>
	<div class="col-xs-12">	
		<p>I am an analytical thinker passionate about crafting enjoyable user experiences that are delightful for both end users and businesses.  My philosophy is about adding strategic value in a clean, simple and effective way.
		<div class="skills">
			<ul>
				<li>Python</li>
				<li>Ruby</li>
				<li>Javascript</li>
				<li>RESTful Services</li>
				<li>R</li>
				<li>Tableau</li>
				<li>Graphic Design</li>
			</ul>
		</div>
	</div>
</div>