<a name="contact"></a>
<footer class="row bottom-diagonal">
  <div class="col-xs-12">
  	<p>I enjoy meeting new people and talking technology.  Hit me up if you want to get coffee and chat.</p>
	<ul>
		<li><a href="{{ site.facebook_url }}"><i class="fa fa-facebook-official fa-2x"></i></a></li>
		<li><a href="{{ site.linkedin_url }}"><i class="fa fa-linkedin-square fa-2x"></i></a></li>
		<li><a href="{{ site.twitter_url }}"><i class="fa fa-twitter-square fa-2x"></i></a></li>
		<li><a href="{{ site.github_url }}"><i class="fa fa-github-square fa-2x"></i></a></li>
	</ul>
  </div>
</footer>