<a name="work"></a>
<div class="row">
	<div class="col-xs-12">
		<div class="row work-examples">
			<div class="example-left col-xs-6">
				<img src="http://placehold.it/100x100" />
				<div class="example-content">
					<h4>Props2Me</h4>
					<p>One of the best ways for people to achieve their goals and move 
					 up at work is by getting effective feedback, both for the things they 
					 want to do and the things they don't. This feedback should come from 
					 as many angles as possible: manager, peers and customers. This can be 
					 a challenge as some people may feel strange giving the feedback or are
					 simply unsure how to do it correctly. Props2Me was designed to make 
					 it easy and fun to give feedback.</p>
				</div>
<!--
				<div class="tags">
					<ul>
						<li>Ruby on Rails</li>
						<li>AngularJS</li>
						<li>Restful Services</li>
						<li>Foundation CSS Framework</li>
						<li>SASS</li>
					</ul>
				</div>
	 -->		
 	 		</div>
			<div class="example-right col-xs-6">
				<img src="images/DBE-Logo.png" />
				<div class="example-content">
		 			<h4>DenverBoulder Events</h4>			
					<p>Denver and Boulder are by no means boring but I've found 
					  it difficult to find things to do in town when I am looking for something 
					  to do. Either, it seemed, I wasn't looking in the right place or I was 
					  away from a computer and finding something on my phone was challenging.  
					  DenverBoulderEvents.com brought together many disparate sources of events 
					  into an iCal format that anyone could subscribe to using the calendar 
					  application of their choice.</p>
				</div>
<!-- 
				<div class="tags">
					<ul>
						<li>Ruby on Rails</li>
						<li>iCalendar</li>
						<li>Bootstrap</li>
					</ul>
				</div>
 -->	 		
	 		</div>
	 	</div>
	 	<div class="row work-examples">
			<div class="example-left col-xs-6">
				<img src="images/txtest-logo.png" />
				<div class="example-content">
					<h4>Txtest</h4>
					<p>Students across the country suffer from test anxiety, killing enthusiasm 
					  for education and impacting their future. Despite their efforts to overcome 
					  this challenge, they continue to have difficulties. Txtest combined classical 
					  conditioning with text messages to simulate the stress of a test. By sending 
					  text messages with study questions, at random times, the application helped 
					  students confront and overcome their anxiety.</p>
				</div>
<!--
				<div class="tags">
					<ul>
						<li>Ruby on Rails</li>
						<li>Twilio API</li>
						<li>Stripe API</li>
						<li>Bootstrap</li>
					</ul>
				</div>
-->	
			</div>
			<div class="example-right col-xs-6">
				<img src="images/datalogix_logo.png" alt="Datalogix Logo" style="margin-top: 80px; margin-bottom: 55px;" />
				<div class="example-content">
					<h4>Datalogix</h4>
					<p>As part of an effort to scale effectively, Datalogix set out to create a way 
					  to manage the metadata around their campaigns. This entailed creating a central 
					  hub that interacted with many internal systems to aggregate data and pass it 
					  along to other systems as necessary. To aid this goal, I created a UI that 
					  allowed users to interact directly with the data in an easy manner. We leveraged 
					  UX techniques which allowed quick iterations on the design.</p>
				</div>
<!--
				<p>An internal tool to manage digital campaigns</p>
				<div class="tags">
					<ul>
						<li>AngularJS</li>
						<li>Restful Services</li>
						<li>Bootstrap</li>
					</ul>
				</div>
	-->
			</div>
		</div>
	</div>
</div>

